blueprint.json
{
    "name": "Linkedin to twitter JSON RESPONSE",
    "flow": [
        {
            "id": 17,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 940069,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -2468,
                    "y": 103
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Webhoook2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Text",
                        "type": "text"
                    },
                    {
                        "name": "LangFrom",
                        "type": "text"
                    },
                    {
                        "name": "LangoTo",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1927052
            },
            "mapper": {
                "model": "text-davinci-003",
                "prompt": "Given a post in {{17.LangFrom}}, split it in multiple shorter texts, suitable for twitter. The shorter text must be written in {{17.LangoTo}}.\nAnswer with only the tweets organized in a table. Don't write anything else but the table with the tweets inside. The table shall be written in html\nThe post follows: {{17.Text}}",
                "select": "prompt",
                "max_tokens": "2000"
            },
            "metadata": {
                "designer": {
                    "x": -2085,
                    "y": -293
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "text-davinci-003"
                        },
                        "select": {
                            "label": "Create a Prompt Completion"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Basic Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "prompt",
                                "chat"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top p"
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "N"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Parameter Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "date",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "any",
                        "label": "Prompt"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "regexp:HTMLTableParser2",
            "version": 1,
            "parameters": {
                "skipFirstRow": false,
                "continueWhenNoRes": false,
                "stripHTMLFromContent": true
            },
            "mapper": {
                "html": "{{16.choices[1].text}}"
            },
            "metadata": {
                "designer": {
                    "x": -1685,
                    "y": 48
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "stripHTMLFromContent",
                        "type": "boolean",
                        "label": "Strip HTML from contents",
                        "required": true
                    },
                    {
                        "name": "skipFirstRow",
                        "type": "boolean",
                        "label": "Skip the first row",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -1177,
                    "y": -60
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 28
                            },
                            "mapper": {
                                "rows": "{{6.rows}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -759,
                                    "y": -75
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Router [28]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 26,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{27.array[].rows}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 375,
                                    "y": 7
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}